{% extends 'baseUser.html.twig' %}



{% block title %}Hello DestinationPageController!{% endblock %}

{% block content %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

    <section class="title"> Nos destinations </section>
    <!-- Pour afficher l'ensemble des produits -->

    {% for destination in listeDestination %}

        <p> Choissisez votre destination : </p>

        <div class="block">
            <div class="container">
                <div class="columns">
                    <!-- one columns -->
                    <div class="column">
                        <div class="box">
                            <!-- <img class="" src="{ destination.image }}">  -->
                            <h2 class="subtitle has-text-link">{{ destination.ville }} </h2>
                            <h2 class="subtitle has-text-link is-4">{{ destination.pays }} </h2>
                            <p> {{ destination.details }} </p>   </br>
                            <button  onclick=""> {{ destination.prix }} </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</section>

{% endblock %}
