{% extends 'base.html.twig' %}
        {% block content %}
            </nav>
            <h1>User account page !</h1>
            <button class="button is-black">Button</button>
            <progress class="progress is-primary" value="15" max="100">15%</progress>
        {% endblock %}