{% extends 'base.html.twig' %}
        {% block body %}
            <nav class="navbar is-black" role="navigation" aria-label="main navigation">
                <div class="navbar-brand">
                    <a class="navbar-item" href="localhost/RICH/public">
                        <img src="{{ asset('../assets/img/logo_RICH.png') }}">
                    </a>
                </div>
            </nav>
            <h1>User account page !</h1>
            <button class="button is-black">Button</button>
            <progress class="progress is-primary" value="15" max="100">15%</progress>
        {% endblock %}