{% extends './base.html.twig' %}


{% block title %}HomePageController!{% endblock %}


{% block content %}

    <section class="hero is-info is-large">
        <div class="hero-head has-text-centered">
            Pret a reserver vos vacances de reve ?
        </div>

        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="block">
                    <p class="title">
                        Bienvenue sur notre site !
                    </p>
                </div>
                <div class="block">
                    <p class="subtitle"> ***** Rich ***** </br> </p>
                    </br>
                </div>
            </div>

            <!-- Comment changer appller la fonction goTo1 on click ? -->
          <button class="button is-large is-fullwidth">Click here </button>
        </div>
    </section>

    <section class="py-6">
        <section class="hero is-large is-info">
            <div class="hero-body">
                <p class="title">
                    Large hero
                </p>
                <p class="subtitle">
                    Large subtitle
                </p>
                <!-- columns -->
                <div class="block">
                    <div class="container">
                        <div class="columns">
                            <!-- one columns -->
                            <div class="column">
                                <div class="box">
                                    <h2 class="subtitle has-text-link"> Nos Packs Vacance </h2>
                                    <p> Choisissez parmis nos pack déjà composé par nos soins, vous n'avez juste qu'à choisir votre pack, entrez vos dates de voyage et il ne vous restera plus qu'à préparer vos valises !  </p>
                                    </br>
                                    <a href="{{ path('app_destinationpage_index')}}"> <button> Let's Go </button> </a>
                                </div>
                            </div>
                            <!-- second columns -->
                            <div class="column">
                                <div class="box">
                                    <h2 class="subtitle has-text-link"> Formule personalisé </h2>
                                    <p> Composez vos vacances de A à Z en choisissant votre destintion, votre hotel, vos activités etc... </br>  </br>  </p>
                                    <span></span>
                                    <a href="{{ path('app_destinationpage_index')}}"> <button class="button is-center"> Let's Go </button> </a>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>

            </div>
        </section>
    </section>

{% endblock %}

{% block footer %}

    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                <strong>RICH</strong> by Groupe 10. The source code is available
                <a href="https://github.com/Projet-devWeb-2022/RICH"> here </a>.
            </p>
                <a href="homepage.html.twig">
                    <img src="{{ asset('../assets/img/logo_RICH.png') }}">
                </a>
        </div>
    </footer>
{% endblock %}
