{% extends 'baseForm.html.twig' %}
{% block content %}
<title>Connexion</title>

    <section class="form">
        <h1>Connectez-vous !</h1>
        {{ form_start(form) }}
        <div class="email">
            <label>Adresse mail</label>
            {{ form_widget(form.email, {'attr': {'class': 'input'}}) }}
        </div>
        <div class="mdp">
            <label>Mot de passe</label>
            {{ form_widget(form.password, {'attr': {'class': 'input'} }) }}
        </div>

        <button class="button is-outlined is-blue" type="submit">Connexion</button>

    </section>


    {{ form_end(form) }}
    <a class="otherChoice" href="register">ou bien inscrivez-vous</a>
{% endblock %}
