{% extends 'base.html.twig' %}

{% block title %}
    Rich - Commande annulée
{% endblock %}

{% block body %}
    {% block content %}
        <div class="message is-danger" style="margin: 25vh 5vh 50vh 5vh">
            <p class="message-header">Votre commande a été annulée</p>
            <div class="message-body">
                <p>
                    Le paiement n'a pas pu être effectué ou vous avez décidé de l'annuler ! Si vous pensez que cela est dù à un problème technique, veuillez nous contacter
                    <a href="{{ path('app_contact')}}" >
                    le formulaire de contact si besoin.
                    </a>
                </p>
                <br>
                <p style="font-style: italic;">
                    Vous pouvez aussi nous adresser un mail :
                    <a href="mailto:webrich235@gmail.com">webrich235@gmail.com</a>
                </p>
            </div>
        </div>
    {% endblock %}
{% endblock %}

