{% extends 'base.html.twig' %}

{% block body %}
    <h1>Votre commande a été annulée</h1>
    <p>
        Le paiement n'a pas pu être effectué ou a été annulé ! Si vous pensez que cela est du à un problème, veuillez utiliser le formulaire de contact pour nous contacter
        <a href="mailto:orders@example.com">orders@example.com</a>.
    </p>
{% endblock %}

{% block title %}
Commande annulée
{% endblock %}

