{% extends 'base.html.twig' %}

{% block title %}
    Rich - Commande annulée
{% endblock %}

{% block body %}
    {% block content %}
        <div class="message is-danger" style="margin: 25vh 5vh 50vh 5vh">
            <p class="message-header">Votre commande a été annulée</p>
            <div class="message-body">
                <p>
                    Le paiement n'a pas pu être effectué ou vous avez décider été annulé ! Si vous pensez que cela est dù à un problème, veuillez utiliser le formulaire de contact si besoin.
                </p>
                <br>
                <p style="font-style: italic;">
                    Vous pouvez aussi nous adresser un mail :
                    <a href="mailto:orders@example.com">orders@example.com</a>
                </p>
            </div>
        </div>
    {% endblock %}
{% endblock %}

