{% extends 'base.html.twig' %}

{% block title %}Paiement{% endblock %}

{% block body %}

<div class="example-wrapper">
    <form action="/checkout" method="POST">
        <button type="submit" class="btn btn-primary btn-lg">Checkout</button>
    </form>
</div>
{% endblock %}
