{% extends 'base.html.twig' %}

{% block body %}
    <h1>Merci pour votre commande !</h1>
    <p>
        Merci de nous avoir fait confiance !
        pour toutes questions veuillez nous contacter via le formulaire de contact.
    </p>
{% endblock %}

{% block title %}

{% endblock %}

